{% extends "base.html" %}
{% load static %}
{% block content%}

<div class="container-fluid whole_content">

    <!-- History -->
    <div class="row" style="margin-top: 8vw;">
        <div class="col-sm-1"></div>
        <p class="trapezoid_blue">
            History
        </p>
        <p class="trapezoid_white"></p>
        <p class="trapezoid_yellow"></p>
    </div>

    <div class="container">
        <div class="row">
            <p style="padding: 10px;text-align: justify;font-size: 16px">
                Shiromani Akali Dal is the oldest regional party of India. Secular in outlook, it has constantly worked to uplift the weaker
                sections of society. It has always been in the forefront of all movements against social evils. The party
                leaders have been greatly influenced by the Pride of Punjab, Sardar Parkash Singh Badal. Shiromani Akali
                Dal is committed to work for the development of the state, and this development is not just limited to building
                roads, bridges and economic growth. At its core, the concept of development means people experiencing change
                enabling them to realise their aspiration and overall improvement in their daily lives and well-being. Backed
                with progressive leadership, the party is committed to empower the weakest and the most neglected sections
                of Indian society and eliminate any kind of biases based on caste, creed or religion. Traditionally deep-rooted,
                SAD is modern in its approach and is committed to embrace technology to eradicate social issues. Introducing
                toll free helpline and app for redressing public grievances, is one of the initiatives in this direction.
            </p>
        </div>
    </div>

    <div class="row myyellow" style="height: 5px;"></div>

    <!-- Vision -->
    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-1"></div>
        <p class="trapezoid_blue">
            Vision & Mission
        </p>
        <p class="trapezoid_white"></p>
        <p class="trapezoid_yellow"></p>
    </div>

    <div class="container">
        <div class="row">
            <p style="padding: 10px;text-align: justify;font-size: 16px">
                The vision of Shiromani Akali Dal is to facilitate attainment of a high quality of life for all citizens of Punjab. This
                can be attained by establishing peace, tranquility and communal harmony while promoting growth & prosperity.
                It aims for an educated society imbued with an ambition to prosper; and an economy, which is competitive
                with sustained growth for the benefit of all.
            </p>
            <p style="padding: 10px;text-align: justify;font-size: 16px">
                Shiromani Akali Dal is driven by its “Development for All” agenda. When it talks about development for all, it envisages
                a free world without any prejudices where everyone can realise her/his aspirations and dreams. True to party
                symbol of ‘balance’, it strives to establish a balanced equilibrium driven with inclusive growth, sustainable
                development whilst communal peace & harmony.
            </p>
            <p style="padding: 10px;text-align: justify;font-size: 16px">
                Shiromani Akali Dal aims to put the spotlight on dreams, inclusiveness, strength, resilience and above all the importance
                of truth and hope.
            </p>
        </div>
    </div>
</div>

{% endblock%}