{% extends "base.html" %} {% load static %} {% load appfilters %} {% block content %}

<style>
    .pos {
        margin: 0px;
        position: absolute;
        right: 10%;
        font-size: 20px;
        font-weight: bold;
    }
</style>

<div class="container-fluid whole_content">

    <!-- News -->
    <div class="row" style="margin-top: 8vw;margin-bottom: 20px">
        <div class="col-sm-1"></div>
        <p class="trapezoid_blue">
            {{minister.name|upper }}
        </p>
        <p class="trapezoid_white"></p>
        <p class="trapezoid_yellow"></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="card">
                    <img src="{{ minister.image.url }}" class="profilepic shadow" alt="">
                    <div class="card-body" style="margin-left: 20px;margin-right: 20px">
                        <div class="row profileinforow">
                            <a href="{{ minister.fblink }}" target="_blank">
                                <img src="{% static 'icons/fb.svg' %}" class="ministersocialprofile" alt="">
                            </a>
                            <a href="{{minister.twitterlink }}" target="_blank">
                                <img src="{% static 'icons/twitter.svg' %}" class="ministersocialprofile" alt="">
                            </a>
                            <a href="{{ minister.linkedinlink}}" target="_blank">
                                <img src="{% static 'icons/li.svg' %}" class="ministersocialprofile" alt="">
                            </a>

                            <p class="pos">({{minister.role}})</p>
                        </div>

                        <div class="row profileinforow">
                            <div class="col-sm-1 col-1" style="padding: 0">
                                <img src="{% static 'icons/home.svg' %}" class="profileinfoicon" alt="">
                            </div>

                            <div class="col-sm-11 col-11">
                                {{minister.address}}
                            </div>
                        </div>

                        <div class="row profileinforow">
                            <div class="col-sm-1 col-1" style="padding: 0">
                                <img src="{% static 'icons/letter.svg' %}" class="profileinfoicon" alt="">
                            </div>

                            <div class="col-sm-11 col-11">
                                {{minister.email}}
                            </div>
                        </div>

                        <div class="row profileinforow">
                            <div class="col-sm-1 col-1" style="padding: 0">
                                <img src="{% static 'icons/phone.svg' %}" class="profileinfoicon" alt="">
                            </div>
 
                            <div class="col-sm-11 col-11">
                                {{minister.phone}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Text -->
            <div class="col-sm-7">
                {% for desc in minister.description|newssplit %}
                <p style="font-size: 18px;text-align: justify">{{desc}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}